{
   project =
   {
      description="⛪️ mulle-pq a 'jq' for property lists";
      domain="github";
      name="mulle-pq";
      user="MulleFoundation";
      repo="mulle-pq";
      homepage="https://github.com/MulleFoundation/mulle-pq";
      license="UNLICENSED"
   };
   dependencies =
   (
      {
         description="💍 Umbrella library for the MulleFoundation";
         domain="github";
         name="MulleFoundation";
         repo="MulleFoundation";
         url="https://github.com/MulleFoundation/MulleFoundation";
         user="MulleFoundation";
      },
      {
         description="▶️ Startup library for MulleFoundation";
         domain="github";
         name="MulleFoundation-startup";
         repo="MulleFoundation-startup";
         url="https://github.com/MulleFoundation/MulleFoundation-startup";
         user="MulleFoundation";
      },
      {
         description="👴🏼 XML parser based on MulleObjCStandardFoundation and libexpat";
         domain="github";
         name="MulleObjCExpatFoundation";
         repo="MulleObjCExpatFoundation";
         url="https://github.com/MulleFoundation/MulleObjCExpatFoundation";
         user="MulleFoundation";
      },
      {
         description="🌼 JSON support for mulle-objc";
         domain="github";
         name="MulleObjCJSMNFoundation";
         repo="MulleObjCJSMNFoundation";
         url="https://github.com/MulleWeb/MulleObjCJSMNFoundation";
         user="MulleWeb";
      }
   )
}
