{
   project =
   {
version="0.0.5";
      description="⛪️ mulle-pq a 'jq' for property lists";
      domain="github";
      name="mulle-pq";
      user="MulleFoundation";
      repo="mulle-pq";
      homepage="https://github.com/mulle-nat/mulle-pq";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="💍 Umbrella library for the MulleFoundation";
         domain="github";
         name="MulleFoundation";
         repo="MulleFoundation";
         url="https://github.com/MulleFoundation/MulleFoundation";
         user="MulleFoundation";
      },
      {
         description="👴🏼 XML parser based on MulleObjCStandardFoundation and libexpat";
         domain="github";
         name="MulleObjCExpatFoundation";
         repo="MulleObjCExpatFoundation";
         url="https://github.com/MulleFoundation/MulleObjCExpatFoundation";
         user="MulleFoundation";
      },
      {
         description="🌼 JSON support for mulle-objc";
         domain="github";
         name="MulleObjCJSMNFoundation";
         repo="MulleObjCJSMNFoundation";
         url="https://github.com/MulleWeb/MulleObjCJSMNFoundation";
         user="MulleWeb";
      },
      {
         description="▶️  Startup code for the MulleFoundation";
         domain="github";
         name="MulleFoundation-startup";
         repo="MulleFoundation-startup";
         url="https://github.com/MulleFoundation/MulleFoundation-startup";
         user="MulleFoundation";
      }
   );
}
