{
   project =
   {
      description="⛪️ mulle-pq a 'jq' for property lists";
      domain="github";
      name="mulle-pq";
      user="MulleFoundation";
      repo="mulle-pq";
      homepage="https://github.com/MulleFoundation/mulle-pq";
      license="BSD-3-License"
   };
   dependencies =
   (
      {
         name="MulleFoundation";
         url="https://github.com/MulleFoundation/MulleFoundation";
         description="💍 Umbrella library for the MulleFoundation";
      },
      {
         name="MulleFoundation-startup";
         url="https://github.com/MulleFoundation/MulleFoundation-startup";
         description="▶️ Startup library for MulleFoundation";
      },
      {
         name="MulleObjCExpatFoundation";
         url="https://github.com/MulleFoundation/MulleObjCExpatFoundation";
         description="👴🏼 XML parser based on MulleObjCStandardFoundation and libexpat";
      },
      {
         name="MulleObjCJSMNFoundation";
         url="https://github.com/MulleWeb/MulleObjCJSMNFoundation";
         description="🌼 JSON support for mulle-objc";
      }
   )
}
